
#plane {
  height: 50px;
  position:absolute;
  top:40%;
  left:5%;
  transform:          rotate(90deg);
  -ms-transform:      rotate(90deg);
  -moz-transform:     rotate(90deg);
  -webkit-transform:  rotate(90deg);
  -o-transform:       rotate(90deg);
}

#plane2 {
  position:absolute;
  top:50%;
  left:5%;
}
